@import 'tailwindcss';

:root {
  --background: #e0f7fa;
  --text-main: #01579b;
}

body,
html {
  margin: 0;
  padding: 0;
}

.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}
